extends layout

block content
 h1= title
 form(method="post", action="/upload", enctype='multipart/form-data')
 input(type="file", name="image", id="image")
 input(type="submit", value="upload")
 br
 span#message
 br
 br
 br
 div#download
    table
     thead
      th File Name
      th Download
     tbody